<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h3>Basic Information</h3>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>First Name</label>
            <input type="text" formControlName="firstname" [(ngModel)]='user.firstname' class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" />
            <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
              <div *ngIf="f.firstname.errors.required">First Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Last Name</label>
            <input type="text" formControlName="lastname" [(ngModel)]='user.lastname' class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" />
            <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
              <div *ngIf="f.lastname.errors.required">Last Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Username</label>
            <input type="text" formControlName="username" [(ngModel)]='user.username' class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">Username is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" formControlName="password" [(ngModel)]='user.password' class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
          </div>
          <br>
          <h3>Personal Information</h3>
          <div class="form-group">
            <label>Age</label>
            <input type="text" formControlName="age" class="form-control" [(ngModel)]='user.age' [ngClass]="{ 'is-invalid': submitted && f.age.errors }" />
            <div *ngIf="submitted && f.age.errors" class="invalid-feedback">
              <div *ngIf="f.age.errors.required">Age is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Height</label>
            <input type="text" formControlName="height" class="form-control" [(ngModel)]='user.height' [ngClass]="{ 'is-invalid': submitted && f.height.errors }" />
            <div *ngIf="submitted && f.height.errors" class="invalid-feedback">
              <div *ngIf="f.height.errors.required">Height is required</div>
            </div>
          </div>
          <div class="form-group">
            <label >Gender</label>
            <select formControlName="gender" class="form-control" [(ngModel)]='user.gender' [ngClass]="{ 'is-invalid': submitted && f.gender.errors }" >
              <option value={{gender.MALE}}>Male</option>
              <option value={{gender.FEMALE}}>Female</option>
            </select>
            <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
              <div *ngIf="f.gender.errors.required">Gender is required</div>
            </div>
          </div>
          <div class="form-group">
            <label >Interested in</label>
            <select formControlName="preferedGender" class="form-control" [(ngModel)]='user.preferedGender' [ngClass]="{ 'is-invalid': submitted && f.preferedGender.errors }" >
              <option value={{gender.MALE}}>Male</option>
              <option value={{gender.FEMALE}}>Female</option>
            </select>
            <div *ngIf="submitted && f.preferedGender.errors" class="invalid-feedback">
              <div *ngIf="f.preferedGender.errors.required">Prefered gender is required</div>
            </div>
          </div>
          <div class="form-group">
            <label >Work field</label>
            <select formControlName="fieldOfWork" class="form-control" [(ngModel)]='user.fieldOfWork' [ngClass]="{ 'is-invalid': submitted && f.fieldOfWork.errors }" >
              <option value={{work.ENGINEERING}}>Engineering</option>
              <option value={{work.MEDICINE}}>Medicine</option>
              <option value={{work.ECONOMY}}>Economy</option>
              <option value={{work.IT}}>IT</option>
              <option value={{work.ARTS}}>Arts</option>
            </select>
            <div *ngIf="submitted && f.fieldOfWork.errors" class="invalid-feedback">
              <div *ngIf="f.fieldOfWork.errors.required">Work field is required</div>
            </div>
          </div>
          <div class="form-group">
            <label >Education</label>
            <select formControlName="studyLevel" class="form-control" [(ngModel)]='user.studyLevel' [ngClass]="{ 'is-invalid': submitted && f.studyLevel.errors }" >
              <option value={{studyLevel.HIGH_SCHOOL}}>High School</option>
              <option value={{studyLevel.BACHELORS_DEGREE}}>Bachelors Degree</option>
              <option value={{studyLevel.MASTERS_DEGREE}}>Masters Degree</option>
              <option value={{studyLevel.PHD}}>PhD</option>
            </select>
            <div *ngIf="submitted && f.studyLevel.errors" class="invalid-feedback">
              <div *ngIf="f.studyLevel.errors.required">Study level is required</div>
            </div>
          </div>

          <div class="form-group">
            <label >Hobbies</label>
          <div class="form-check" *ngFor="let hobby of hobbies">
            <input class="form-check-input" (change)="onChange(hobby.name, $event.target.checked)"name="{{ hobby.name }}" type="checkbox" id="{{hobby.name}}">
            <label class="form-check-label" for="{{hobby.name}}">
              {{hobby.name}}
            </label>
          </div>
          </div>

          <div class="form-group text-danger" *ngIf="error">{{error}}</div>

          <div class="form-group">
            <button class="btn btn-primary">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
