<div style="float:right;">
  <button class="btn btn-primary" (click)="goToMyProfile()" *ngIf="getUser()">My Profile</button>
  <button class="btn btn-primary" (click)="goToMySuggestions()" *ngIf="getUser()">My Suggestions</button>
  <button class="btn btn-primary" (click)="logout()" *ngIf="getUser()">Logout</button>
</div>
<router-outlet></router-outlet>


