<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h3>Welcome</h3>
        <form [formGroup]="form" (submit)="submit()">
          <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" formControlName="username">
            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="text-danger">
              <div *ngIf="username.errors.required">Username is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password">
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
              <div *ngIf="password.errors.required">Password is required</div>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
          <div class="form-group">
            <label>Don't you have an account?</label>
            <a [routerLink]="['/register']" class="btn-outline-primary">Register now</a>
          </div>
        </form>

        <div *ngIf="error" class="text-danger">
          {{error}}
        </div>
      </div>
    </div>
  </div>
</div>