<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">My Profile</h5>
        </div>
        <div class="card-body">
          <div class="author">
            <img *ngIf="user.gender === gender.MALE" src="/assets/images/boy.png" >
            <img *ngIf="user.gender === gender.FEMALE" src="/assets/images/girl.png" >
          </div>
          <form>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>First Name</label>
                  <input type="text" class="form-control" value={{user.firstname}} name="firstname" readonly>
                </div>
              </div>
              <div class="col-md-5 px-1">
                <div class="form-group">
                  <label>Last Name</label>
                  <input type="text" class="form-control" value={{user.lastname}} name="lastname" readonly>
                </div>
              </div>
              <div class="col-md-3 pl-1">
                <div class="form-group">
                  <label>Username</label>
                  <input type="text" class="form-control" value={{user.username}} name="username" readonly>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Age</label>
                  <input type="text" class="form-control" value={{user.age}} name="age" readonly>
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>Height</label>
                  <input type="text" class="form-control" value={{user.height}} name="height" readonly>
                </div>
              </div>
              <div class="col-md-2 px-1 ">
                <div class="form-group">
                  <label>Gender</label>
                  <input type="text" class="form-control" *ngIf="user.gender==gender.MALE" value="Male" name="gender" readonly>
                  <input type="text" class="form-control" *ngIf="user.gender==gender.FEMALE" value="Female" name="gender" readonly>
                </div>
              </div>
              <div class="col-md-2 pl-1">
              <div class="form-group">
                <label>Interested In</label>
                <input type="text" class="form-control" *ngIf="user.preferedGender==gender.MALE" value="Male" name="preferedGender" readonly>
                <input type="text" class="form-control" *ngIf="user.preferedGender==gender.FEMALE" value="Female" name="preferedGender" readonly>
              </div>
            </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Work Field</label>
                  <input type="text" class="form-control" *ngIf="user.fieldOfWork==work.ARTS" value="Arts" name="fieldOfWork" readonly>
                  <input type="text" class="form-control" *ngIf="user.fieldOfWork==work.IT" value="IT" name="fieldOfWork" readonly>
                  <input type="text" class="form-control" *ngIf="user.fieldOfWork==work.ECONOMY" value="Economy" name="fieldOfWork" readonly>
                  <input type="text" class="form-control" *ngIf="user.fieldOfWork==work.MEDICINE" value="Medicine" name="fieldOfWork" readonly>
                  <input type="text" class="form-control" *ngIf="user.fieldOfWork==work.ENGINEERING" value="Engineering" name="fieldOfWork" readonly>
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Education</label>
                  <input type="text" class="form-control" *ngIf="user.studyLevel==studyLevel.BACHELORS_DEGREE" value='Bachelors Degree' name="studyLevel" readonly>
                  <input type="text" class="form-control" *ngIf="user.studyLevel==studyLevel.HIGH_SCHOOL" value='High School' name="studyLevel" readonly>
                  <input type="text" class="form-control" *ngIf="user.studyLevel==studyLevel.MASTERS_DEGREE" value='Masters Degree' name="studyLevel" readonly>
                  <input type="text" class="form-control" *ngIf="user.studyLevel==studyLevel.PHD" value='PhD' name="studyLevel" readonly>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Hobbies</label>
                  <input type="text" class="form-control" value={{user.userHobbies}} name="userHobbies" readonly>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
