@import "../../../styles.css";
.card{
  border: 0;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 20px;

  .card-body{
    padding: 15px 15px 10px 15px;
  }

  .card-header{
    padding: 15px 15px;
    border: 0;

    .card-title{
      margin-top: 10px;
    }
  }
}

  .author{
    text-align: center;
  }

  .avatar{
    width: 200px;
    height: 200px;
    border: 1px solid white;
    position: relative;
  }
  .title{
    text-align: center;
  }


