<div class="row">
    <div class="col-md-12" *ngFor="let p of people">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                  <img *ngIf="p.gender==gender.MALE" src="/assets/images/boy.png" alt="UserImage" style="max-height:120px;">
                  <img *ngIf="p.gender==gender.FEMALE" src="/assets/images/girl.png" alt="UserImage" style="max-height:120px;">
                  <a [routerLink]="['/profile/'+p.id]">{{p.firstname}} {{p.lastname}}  - {{p.userHobbies}}</a>
                </h4>
            </div>
        </div>
    </div>
</div>
